<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingRandomAccessFile name="BulkAppender"
			fileName="logs/dvdstore-bulk.log"
			filePattern="logs/dvdstore-bulk-%d{yyyy-MM-dd_hh-mm}_%i.zip">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="CommandAppender"
			fileName="logs/dvdstore-commands.log"
			filePattern="logs/dvdstore-commands-%d{yyyy-MM-dd_hh-mm}_%i.zip">
			<PatternLayout>
				<Pattern>${LOG_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<AsyncLogger name="org.acme.dvdstore" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="CommandAppender" />
		</AsyncLogger>
		<AsyncLogger name="org.acme.dvdstore.bootstrap" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="BulkAppender" />
		</AsyncLogger>

		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="CommandAppender" />
		</Root>
	</Loggers>
</Configuration>
